/* En tu archivo de estilos estilosPaginaSL.css */
.card {
    width: 300px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}  

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    position: relative;
}

.card-info {
    padding: 20px;
}

.like-icon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.like-button {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 1; /* Asegura que el botón de "Me gusta" esté sobre la imagen */
}

.star-icon {
    width: 20px;
    height: 20px;
    background: url('img/estrella.png') no-repeat center center/contain;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.modal img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}