.contenedor {
    display: flex;
    width: 80%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.informacion-alojamiento {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.mini-card {
    margin-top: 20px;
}

.mini-card img {
    width: 35%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

.metodo-pago {
    flex: 1;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label, input {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}